#modal-crowdsale.modal
  .modal-content
    .modal-wrap
      .heading Dear friends,
        br
        |  and soon we hope, partners!
      p.text At Nodio Technologies we agree on a saying that only by making something you truly believe in one can become happy and successful. We are a team of dreamers united by an idea of a safe future, where our right to privacy and freedom of speech are respected. For us, Nodio is a tool to fix what is broken today by the people, who are obsessed with power. The main idea behind the project is 
        span.important decentralization
        |  from the corrupted digital world, where multibillion-dollar companies and governmental agencies took over control. It might sound too radical but in reality, our mission can be accomplished with the help of only two precious resources. One is - technology, and we already have it due to an ingenious invention called blockchain. Its possibilities are endless, and people have just started discovering them. The second vital resource is 
        span.important YOU
        |  as a part of our growing community. We need support from the people with the same values as ours, to start our quest. We cherish your interest in our project and want to create a safe community for individuals who are in control of their data, possessions, and privacy. We have decided to reach this goal by distributing 
        span.important 10%
        |  of Nodio Technologies to you. By starting a crowdsale, we want to connect with our supporters and bring this project to life.

      p.text Of course, good things always come in pairs, so you have a chance not only to join the great cause but also significantly improve your financial position.

      .header
        .number 01
        .important Why Go Crowdsale
        .indent Instead Of Crowdfunding?

      p.text One of our most important tasks is to form a community that will help us built a safer future. We don't want to simply deliver you a final product, 
        span.important we want to listen to your feedback
        |  while building it. This way we can continuously improve and make Nodio better. Together we will create a truly valuable product for us and people around us. Become a part of Nodio - let's make a difference together.

      .header What Do
        .number 02
        .important These 10% Mean?

      p.text We placing 10% of Nodio Technologies value on a crowdsale - this means that we are selling this part without having a fixed price. After the crowdsale you will receive Nod tokens, their number will vary depending on this rate:

      p.text.important 10% = 1 000 000 Nod Tokens. 

      p.text The more people will chip in - the larger will be the value of the company. This way we will have a bigger funding which will ensure that every step of product's journey (choice of parts, production, marketing, etc.) will be performed at a highest possible level. This will guarantee the smooth launch of the product and a fast return of investments, followed by profitability.

      .header Crowdsale
        .number 03
        .important Time & Date

      p.text The crowdsale starts on 

      p.text.important May 1st, 2016, at 23:59 PST 

      p.text and ends on 

      p.text.important May 18th, 2016 at 23.59 PST. 

      p.text (17 days in total)

      .header
        .number 04
        .important What Do I Get?

      p.text As any stakeholder of the company, you will be able to 
        span.important review financial statements
        | , take part in the 
        span.important voting
        |  on strategic issues, 
        span.important provide feedback
        |  on how we are doing business and help make Nodio greater. Also, one of you rights will be 
        span.important picking a company to audit
        |  Nodio Technologies, so you could be sure that we play fair and square.

      .header
        .number 05
        .important Ownership,
        | Resale, Assigning, Trading

      p.text After the closing of a crowdsale, you will have a few options on how to use your tokens: 
        span.important exchange on Nodio Technologies shares, sell, donate, resale, etc.
        |  They will be your property, and you will have the full control over them. 
   
      .header
        .number 06
        .important Sale
        | Of The Nodio Tokens

      p.text Nod Token owners can sell their tokens 
        span.important to any person or a company.
        |  Also, you can sell the tokens 
        span.important directly to us
        | , but only if we will be offering the redemption of the Tokens during that period. The purchase is not refundable.
      
    a.button Get Your stake
      .point.top.left
      .point.top.right
      .point.bottom.left
      .point.bottom.right