#modal-faq.modal
  .modal-content
    .modal-wrap
      .heading Frequently Asked Questions

      .subheading General
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What is Nodio?
        .answer Nodio is a hardware-based blockchain-powered router with xana software platform designed to protect you and your belongings.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What is Blockchain?
        .answer Blockchain is an innovative technology designed to revolutionize the way we protect our data. It is a distributed database that maintains a continuously-growing list of data records secured from tampering and revision.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What is Cryptocurrency/Bitcoin?
        .answer A cryptocurrency is a medium of exchange using cryptography to secure the transactions and to control the creation of additional units of the currency. Bitcoin became the first decentralized cryptocurrency and still the most popular one.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Where can I find the main source-code of the project?
        .answer The information about the source code can be found here. However, the source code itself is not available for public access yet due to the reasons of some patents pending.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What is a Crowdsale?
        .answer A crowdsale is an issuance of tokens that represent shares or equity in a company. 
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What are the exact Crowdsale terms?
        .answer The terms of a crowdsale can be found here.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Where can I find legal information about your company?
        .answer The legal information about our company can be found here.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What are the benefits of becoming a Nodio stakeholder?
        .answer Nodio is a very promising technology. By taking part in a crowdsale you become a shareholder at Nodio Technologies. You receive a rare possibility to quickly return your investments and earn much more. Also, you are becoming a part of a community that will make our future a safer place.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Do you have a working prototype?
        .answer Yes, you can see it, as well as the journal about its creation on our Medium account.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Do you obtain any patents for this product?
        .answer Our US patents are pending and will be issued soon.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Is there any risks or challenges?
        .answer We believe in Nodio and its perspective. For us it is not just a business, it is a chance to improve the world by protecting people and ensuring their essential right to privacy. The success of the project depends not only on us but you, and every other user of Nodio. So, help us spread a word.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Is there a hardware production plan?
        .answer Yes, it is estimated to take 6 months.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question When will Nodio be ready for mass-production?
        .answer Yes, it is estimated to take 6-9 months.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What will be the price of Nodio?
        .answer Estimated price is 200$. We are working on making it lower without harming the quality of the product.

      .subheading Router technical question
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question How do I update the software on my Nodio?
        .answer Nodio will be updated using the same source it was downloaded from. Once the update is available, you will be notified in a Nodio app. 
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Is Nodio compatible with Windows, Mac OS, iOS, Android and Linux?
        .answer Yes. Nodio is compatible with every Wi-Fi-enabled device that uses the 802.11a/b/g/n/ac specification. 
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question How do I know if my Nodio is connected to the Internet?
        .answer Nodio's awesome LED screen will notify you if there is a connection problem. Also, you can check its status in a Nodio app.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question How many Ethernet ports does Nodio have?
        .answer Nodio has five Gigabit Ethernet LAN ports.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Does Nodio have a USB Port?
        .answer Yes, Nodio has two USB 3.0 ports.

      .subheading Questions about Xana platform
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What is Xana?
        .answer Xana is a revolutionary platform for decentralized blockchain-based applications which are brought to your phone by Nodio.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question What are the decentralized applications (DApps)?
        .answer A DApp has its backend code running without a server. Instead, it is using a decentralized peer-to-peer network.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question How do DApps work?
        .answer Decentralized apps are a new kind of applications designed to run without a server. It means that there are no single individuals who have full control over DApps. This type of software programs is becoming more popular each day. It has a lot to do with the development of blockchain-based products and cryptocurrencies.DApps are an irreplaceable part of peer-to-peer computing and the future of software.
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question How can I make my own DApp?
        .answer It is very easy to create your own DApp, we will provide you with all the necessary information. You can develop it using any programming language. 
      .faq-block
        .clicker
          .arrow
            svg
              use(xlink:href="#faq")
          .question Where can I find DApps SDK and Xana api?
        .answer Soon we will make tham available for every developer.

      p.text Didn’t find an answer for your question - 
        a.link.menu-link.close-modal(
          href="#contacts"
          title="Contact us"
        ) contact us.
