#modal-policy.modal
  .modal-content
    .modal-wrap
      .heading Privacy Policy
      p.text This Privacy Policy relates to the use of the website, which is owned by NODIO TECHNOLOGIES LLP, registered address: 4 South Molton Street, London, UK, W1K 5RG; (hereinafter - the Company).

      p.text Confidentiality is of paramount importance for the Company. We understand the importance of data protection, which is designed for storage and stored within our technical equipment or equipment the Company has access to, including but not limited to the our website Users personal information.

      p.text This Privacy Policy informs you of the means  the Company uses to grant privacy. We are acting within the framework of existing laws that govern privacy in the countries we operate within. This Privacy Policy describes the information we collect, the way we may use such information and the circumstances under which we may disclose such information to the third parties.

      ol.article
        li Definition of terms
          ol
            li The following terms are used in this Privacy Policy:
              ol
                li "Company's Administration (hereinafter - the Company Administration)" - an authorized personnel of website management, acting on behalf of the Company, which organize and (or) performs the processing of personal data, and defines purpose of the personal data processing, complex of personal data to be processed, actions (operations) in respect of personal data, as well as accomplishes collection, record, systematization, accumulation, storage, specification (update, modification), extraction, use, transfer (distribution, access provision), depersonalization, blocking, deletion, destruction of the Company confidential information.
                li "Personal data" - any information relating directly or indirectly to an identified or identifiable individual (personal data subject).
                li "Personal data processing" - any action (operation) or a set of actions (operations) performed in respect to the personal data with the use of means of automatization or without the use of such means, including collection, recording, systematization, accumulation, storage, specification (update, change) extraction, use, transfer (distribution, access provision), depersonalization, blocking, deletion, destruction of personal data.
                li "Confidentiality of personal data" - requirement, mandatory for compliance by the Company/Company's Administration or any other person who gained access to the personal data, in respect of prevention  of the data disclosure without the expressed consent of the subject of personal data or any other legal grounds.
                li "The Company website User (hereinafter - the User)" - a person who has access to the website, by means of Internet, including but not limited to access to Personal Cabinet.
                li «Cookies» - a small piece of information sent by a web-server and stored on the User's computer, being sent every time by the web-client or web-browser to the web-server in the HTTP-request within the attempt to open the page of the relevant website.
                li «IP-address» - a unique network address of a node in a computer network, built on IP protocol.

        li The general provisions
          ol
            li User's utilization of the Company's website is considered to be an expressed full consent to this Privacy Policy, including but not limited to, User's personal data processing conditions.
            li In case of disagreement with the terms of the Privacy Policy the User should  immediately stop utilization of the Company's  website and terminate any relationships with the Company according to the conditions provided by the Company and provided on this website in the public domain or in the Personal Cabinet.
            li This Privacy Policy is applied only to the Company's website. The Company does not control and is not responsible for third party websites to which user can get with the links available on the Company's website.
            li The website administration does not verify the accuracy of personal information provided by the Users of the Company's website during the authorization procedure or in the Personal Cabinet.

        li Subject of the privacy policy
          ol
            li This Privacy Policy sets out the obligations of the Company's Administration With respect to the non-disclosure and granting the confidentiality of the personal data, the User provides to the Company during the authorization and / or in the Personal Cabinet and / or at the request of the Company.
            li Personal data allowed for processing under this Privacy Policy include the following information:
              ol
                li the User's contact phone;
                li e-mail address;
            li Company's website protects data being automatically transmitted in the process of viewing and advertising units by visiting the web pages that are running the statistical system of the script ("pixel"):
              br
              | IP address;
              br
              | cookies information;
              br
              | Information about the browser;
              br
              | access time;
              br
              | address of the ad unit webpage;
              br
              | referrer (the previous page address).
              ol
                li Disabling cookies may result in the inability to access the parts of the Company's  website, which require authorization.
            li Any other personal information unconditioned above is a subject to the safe storage and non-disclosure, except for the cases provided for in this Privacy Policy or legal grounds prescribed by legislative regulations provided by respective governing jurisdiction.
            li The information the Company collects from other sources: the Company may also receive information from other sources and combine it with the information the Company collects itself. For example, when the User logs on to a website, authorizing himself with the help of third-party service, the Company may collect information from the social pages, where according to the information defined in authorization procedures, including the open profile of the website, the friends list, and email address. Any third-party services may collect information determined by their own privacy policies.

        li Utilization and disclosure of the personal data
          ol
            li The Company undertakes not to use without User's written consent any information about the User provided to the Company, except for the cases the Company is obliged, according to the provisions of law of the jurisdiction whose law is used to settle any issue, to disclose the available information about the User.
            li The Company reserves the right to use the private data provided that such data are not personal and are not confidential in nature.
            li Personal data may be collected, stored and / or processed by employees of the Company or affiliates  as part of the relations between the Company and the Users under the Agreement between them and the information given on this website. However, in any case, any person who, in accordance with this paragraph has any access to personal information, is considered to be bound by contractual obligations for the purpose of the data protection  in accordance with our Privacy Policy.
            li If according to the terms of this Privacy Policies and any rules of law, the Company provides the third parties with any information related to this Privacy Policy, the Company shall require such parties to comply with the provisions of this Privacy Policy. However, the Company can not be held liable for the actions of such third parties provided for by this paragraph, if the Company has provided such information on legal grounds.

        li Consent
          ol
            li With the exception of legal requirements, we will not use or disclose your personal information for any purpose which you have not consented for. If you revoke your consent, you agree that despite a review of your agreement, we can continue to use your personal data that has been previously provided to us, to the extent  we are legally obliged to, and to the extent necessary to enforce any contractual obligations you may have with respect to the Company, or in any other manner permitted by law. You also understand that although you can use our website for some purposes without providing personal data, we need some personal data, including data related to payment or participation in a committed relationship with the Company or our partners. If you refuse to give us your personal data, or later revoke your consent, we will no longer be able to provide you with certain services.

        li Acceptance
          ol
            li By using this website, you confirm your consent to this Policy. The Company reserves the right to change this Policy at any time. Any changes will be posted so that you are always aware of what information we collect, how we use it and under what circumstances we disclose it.

        li Questions
          ol
            li Any questions in respect of this Policy, collection, processing and disclosure of the personal data by the Company or access to the personal data of the Users, required under the law to be disclosed, should be addressed at Nodio Technologies LLP, 4 South Molton Street, London, UK, W1K 5RG.


      p.text.right Nodio Technologies LLP