#modal-specs.modal
  .modal-content
    .specs-wrap
      .specs-content
        .specs-block.common

          .specs-heading Wireless
          .specs-param Bluetooth 
            span.specs-details 4.2
          .specs-param IEEE 
            span.specs-details 802.11 a/b/g/n/ac
          .specs-param Six-Element Beamforming Antenna Array
          .specs-param Concurrent Dual-Band 
            span.specs-details.specs-tips 2.4 GHz + 5 GHz
              .specs-tip.left Up to 450 Mb/s
              .specs-tip.right Up to 1.3 Gb/s
          .specs-param ZigBee

          .specs-heading Compatibility
          .specs-param Up to 50 × 802.11 a/b/g/n/ac-enabled 
            span.mobile-hide Wi-Fi 
            | devices
          .specs-param NAT, DHCP, PPPoE, VPN Passthrough 
            span.specs-details.mobile-block (IPSec, PPTP, L2TP) 
          .specs-param DNS Proxy, IPv6 
            span.specs-details (6to4, manual tunnels)

          .specs-heading Security
          .specs-param Wi-Fi Protected Access™ 
            span.specs-details (WPA/WPA2) 2
          .specs-param WPA/WPA2 Enterprise 2
          .specs-param MAC Address Filtering
          .specs-param NAT Firewall
          .specs-param 802.1X, PEAP, LEAP, TTLS, TLS, FAST
          .specs-param Time-Based Access Control

        .specs-block

          .specs-heading CPU
          .specs-definition Intel Quad-Core
          .specs-value 2.1 GHz

          .specs-heading RAM
          .specs-definition LDDR3
          .specs-value 8 Gb 

          .specs-heading Capacity
          .specs-definition HDD
          .specs-value 500 Gb
          .specs-definition SSD
          .specs-value 8 Gb

          .specs-heading Power
          .specs-definition 1 × DV
          .specs-value 12V

          .specs-heading Battery 
          .specs-definition Li-ion
          .specs-value 4 000 mAh

          .specs-heading OS
          .specs-param Custom Linux Based OS
            
        .specs-block

          .specs-heading Dimensions
          .specs-param 7.64” × 6.54” × 3.07”

          .specs-heading Weight
          .specs-param 2.08 lb

          .specs-heading Display
          .specs-param 49 × 49 LED Dots

          .specs-heading Interfaces
          .specs-param 2 × USB 3.0
          .specs-param 5 × Gigabit Ethernet LAN

          .specs-heading Input
          .specs-param 4.9” × 4.9” Touchscreen
          .specs-param 1 × Physical Button