/*** Colors ***/
$black = #000
$white = #FFF
$white-20 = rgba(255,255,255,0.2)
$white-50 = rgba(255,255,255,0.5)
$turquoise = #17E5B2
$turquoise-10 = rgba(23,229,178,0.1)
$turquoise-20 = rgba(23,229,178,0.2)
$turquoise-50 = rgba(23,229,178,0.5)
$torch_red = #ff004d

$animation-time = 0.5s
$transition-time = 0.2s
$transition-time-fast = 0.15s
$content-transition-time = 0.3s

/*** Viewport ***/ 
$expand_height = 700px;
$expand_height_step = 61px;


/*** Common ***/
/* Colors */
$common-body-background-color = $black
$common-body-text-color = $white
$common-body-background-color = $black

$common-dot-background-color = $white

$common-point-background-color = $turquoise

$common-link-color = $turquoise
$common-link-border-color = $turquoise-50

$common-delimiter-background-color = $white

/* Viewport */
$mobileWidth = 1020px

/* Text */
$common-body-font-size = 12px
$common-body-letter-spacing = 2px

$common-link-font-size = 14px

/*** Sidebar ***/
/* Animations */
$sidebar-transition-time = $animation-time
$sidebar-out-transition-time = $transition-time-fast
$sidebar-line-transition-time = $content-transition-time
$sidebar-line-transition-time = $content-transition-time

/*** Content ***/
/* Animations */
$content-show-transition-time = $content-transition-time
$content-blink-animation-time = $animation-time

/*** Contacts ***/
/* Colors */
$contacts-header-color = $white

$contacts-subscribe-border-color = $turquoise-20

$contacts-input-color = $white
$contacts-input-border-color = $white-20
$contacts-input-point-color = $white
$contacts-input-placeholder-color = $white-20

$contacts-button-color = $turquoise
$contacts-button-border-color = $turquoise-20



/*** ----- ***/
$logo-color = $white
$progress-color = $white
$logo-color =$white
$square-border-color = $turquoise

$font-size = 12px
$header-font-size = 12px
$header-line-height = 18px
$footer-font-size = 12px
$letter-spacing = 2px

$preloader-logo-point-big = 6px
$preloader-logo-point-medium = 5px
$preloader-logo-point-small = 3px

$preloader-logo-size = 85px
$preloader-logo-inner-size = 18px
$preloader-logo-medium-size = 40px
$preloader-logo-outer-size = 62px

$preloader-logo-border-size = 2px

$preloader-logo-transition-time = .3s
$square-transition-time = 1.3s

$menu-transition-time = .5s
$menu-line-transition-time = .3s

$step-transition-time = .3s

$product-title-transition-time = .3s
$product-illustrations-opacity-time = .3s
$product-illustrations-transform-time = .3s
$product-illustrations-delay = .3s
$product-illustration-1-opacity-time = .3s
$product-illustration-1-delay = .9s
$product-illustration-2-opacity-time = .3s
$product-text-opacity-time = .3s
$product-text-delay = .9s