#pagination
  a.pagination-item(href="#product")
    svg.active
      use(xlink:href="#pagination-active")
    svg.inactive
      use(xlink:href="#pagination-inactive")
  a.pagination-item(href="#product-router")
    svg.active
      use(xlink:href="#pagination-active")
    svg.inactive
      use(xlink:href="#pagination-inactive")
  a.pagination-item(href="#product-steady")
    svg.active
      use(xlink:href="#pagination-active")
    svg.inactive
      use(xlink:href="#pagination-inactive")
  a.pagination-item(href="#product-dapps")
    svg.active
      use(xlink:href="#pagination-active")
    svg.inactive
      use(xlink:href="#pagination-inactive")
  a.pagination-item(href="#product-design")
    svg.active
      use(xlink:href="#pagination-active")
    svg.inactive
      use(xlink:href="#pagination-inactive")
  a.pagination-item(href="#product-tech")
    svg.active
      use(xlink:href="#pagination-active")
    svg.inactive
      use(xlink:href="#pagination-inactive")