@import "../variables.styl"

/* Apps styles */
#dapps
  .page-header
    padding 71px 0 30px
  .page-content
    padding-bottom 35px
    
  // .header
  //   font-size 60px
  //   font-weight 700
  //   color $white
  //   letter-spacing 4px
    
  .left-side
    width 320px
    display inline-block
    vertical-align top
    margin 88px 38px 0 0
  .text
    margin-bottom 30px
    font-size 16px
    font-weight 300
    line-height 30px
    color $white-50
    letter-spacing 0.5px
  
  .link
    text-decoration none
    color $turquoise
    border-bottom 1px solid $turquoise-50
    transition border-color $transition-time linear
    &:hover
      border-color $turquoise
    
  .illustration
    float right
    relative false
    display inline-block
    vertical-align top
    width 100%
    // size 483px 470px
    max-width 483px
    retina-image('~images/pages/dapps.png', 100% auto, "@2x")
    background-size 100% auto
    background-position 50% 50%
    background-repeat no-repeat
    &:before
      content ''
      display block
      padding-top 97%
    
  .left-capture
  .center-capture
  .right-capture
    absolute false
    font-size 12px
    font-weight 300
    text-align center
    letter-spacing 0.5px
  .left-capture
  .right-capture
    top 33px
    width 30%
  .left-capture
    left 0
  .right-capture
    right 0
  .center-capture
    top -7px
    width 44%
    left 0
    right 0
    margin auto
  .page-footer
    padding-top 80px
        
// +media-query(only screen, max-width 480px)
//   #dapps
//     .center-capture
//       top 0px
//       width 30%
//     .left-capture
//     .right-capture
//       top 13px
+media-query(only screen, max-width $mobileWidth)
  #dapps
    .page-header
      padding 0 0 50px
    .page-content
      padding-bottom 0
    .illustration
      padding 30px 0
      width 100%
      margin auto
      display block
      float none
    .left-side
      width 100%
      margin 0
      float none
      .text
        text-align justify
    .page-footer
      padding-top 0
    .center-capture
      top 0px
      width 30%
    .left-capture
    .right-capture
      top 30px
    
$start = 720px
$step = 60px
for $i in 0..30
  $height = $start + $i * $step
  if $i < 3
    $before = 0 * $step
    $after = $i * $step
  else 
    $before = floor(($i - 1) / 2) * $step
    $after = floor(($i + 2) / 2) * $step
    
  +media-query(only screen, min-height $height)
    #dapps .page-content
      &:before
        height $before
      &:after
        height $after