#dapps.page(data-title="Dapps")
  .page-header
    h1.header Dapps

  .page-content

    .illustration
      .left-capture Safe Messenger
      .center-capture Nodio Control Center
      .right-capture Crypto Exchange
      
    .left-side
      p.text Very soon you will experience the safety and comfort of our native dapps. 

        a.menu-link.link(href="#contacts") Subscribe
        |  to our newsletter and we will notify you upon their launch.

      p.text In case you want to develop your own dapp on Xana and need more information about the platform - please 
        a.menu-link.link(href="#contacts") contact us
        | . We will be more than glad to help you.

  .page-footer
    include ../navigation/next.pug