#team.page(data-title="Team")
  .page-header
    h1.header The Team
    p.text-right Each member of our team is a highly skilled and talented professional that believes in the right to online privacy. We see Nodio Technologies not only as a great working place but, also, as a medium to make our future safer.

  .page-content
    .persons
      .person
        .data
          .name Ramzes
          .position CEO
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Dima
          .position Lead Designer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Sergey
          .position CTO
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Andrew
          .position Senior Engineer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person.empty
      = "\n"
      .person
        .data
          .name Irka
          .position Visual Designer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Dmitry
          .position Core Developer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Anton
          .position Engineer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Mira
          .position Business Analyst
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Sergio
          .position Motion Designer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Rustam
          .position iOS Devekoper
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Vlad
          .position Engineer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Sveta
          .position Legal Expert
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Yuriy
          .position PR Manager
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Boris
          .position FE Developer
        .point.top.left
        .point.bottom.left
      = "\n"
      .person
        .data
          .name Vladislav
          .position Constructor
        .point.top.left
        .point.bottom.left
      = "\n"
      .person.fill

  .page-footer
    include ../navigation/next.pug