#xana.page(data-title="Xana")
  .page-header
    h1.header
      svg
        use(xlink:href="#xana-title")
    p.text-right Xana is a revolutionary platform for decentralized blockchain-based apps brought to you by Nodio. From now on one single dapp can combine most reliable blockchains and use their individual strengths for the most suitable tasks. Digital revolution has never been closer.

  .page-content
    p.subheader See the 
      span.bold variety of possibilities
      |  open for Xana apps:
    .features.center-block
      .feature
        h2.title Peer economy
        p.text Nodio can bring peer economy to a whole new level. Now it becomes possible to buy, sell, rent anything remotely using blockchain community as "trusted" third party to seal the deal.
      .feature
        h2.title Serverless
        p.text Tons of solution with no vulnerable central unit - imagine a messenger or a cryptocurrency marketplace that has no server, but is still super easy to use. Your data is shared strictly between your devices, no third party interference.
      .feature
        h2.title Safe Internet
        p.text Looking for the entirely safe browser secured from malvertising, phishing, and other scams - create your own and use it with Nodio. Personal VPN will protect you from sharing metadata.
      .feature
        h2.title IoT
        p.text Stop worrying that your home security system or nanny cam gets hacked. Create the safest app for managing your smart home and use it on your phone, tablet or smartwatch.
      .feature.illustration
        .illustration
      .feature
        h2.title Blockchain ID
        p.text Unlimited opportunities for the most precise personal identification. Its level of security is so advanced that it can serve as an ID at elections, not to mention digital documentation signature and user ID.

  .page-footer
    include ../navigation/next.pug