#logo.logo
  .inner
    .logo-point.item-1.big
    .logo-point.item-2.big
    .logo-point.item-3.big
    .logo-point.item-4.big
  .middle
    .logo-point.item-1.medium
    .logo-point.item-2.big
    .logo-point.item-3.big
    .logo-point.item-4.medium
    .logo-point.item-5.big
    .logo-point.item-6.big
    .logo-point.item-7.medium
    .logo-point.item-8.big
    .logo-point.item-9.big
    .logo-point.item-10.medium
    .logo-point.item-11.big
    .logo-point.item-12.big
  .outer
    .logo-point.item-1.small
    .logo-point.item-2.small
    .logo-point.item-3.medium
    .logo-point.item-4.medium
    .logo-point.item-5.small
    .logo-point.item-6.small
    .logo-point.item-7.small
    .logo-point.item-8.medium
    .logo-point.item-9.medium
    .logo-point.item-10.small
    .logo-point.item-11.small
    .logo-point.item-12.small
    .logo-point.item-13.medium
    .logo-point.item-14.medium
    .logo-point.item-15.small
    .logo-point.item-16.small
    .logo-point.item-17.small
    .logo-point.item-18.medium
    .logo-point.item-19.medium
    .logo-point.item-20.small
  .border