#product-design.product.page(data-title="Product: Intuitively designed")

  .page-header
    .number 04
    h1.title
    
  .page-content
    .illustrations
      .illustrations-container
        .illustration.device
        .illustration.phone
        .illustration.border

  .page-footer
    .texts
      h1.title
        .bold Intuitively 
        | Designed
      p.text Configure your network in just a few taps on an energy saving touch LED display or via a user-friendly dapp. It's incredibly simple to connect your device to Nodio, no technical background needed.

    include ../../navigation/next.pug