#product-steady.product.page(data-title="Product: Steady at all times")

  .page-header
    .number 02

  .page-content
    .illustrations
      .illustrations-container
        .illustration.device
        .illustration.border
        
  .page-footer
    .texts
      h1.title
        .bold Steady
        | At All Times
      p.text No matter where you are, Nodio protects you - 24 hours a day, 7 days a week. With a built-in 4 000 mAh battery and a 4G/LTE modem, it continues to deliver even during power outage.

    include ../../navigation/next.pug
