#product-dapps.product.page(data-title="Product: The Era Of DApps")

  .page-header
    .number 03
    
  .page-content
    .illustrations
      .illustrations-container
        .illustration.device
        .illustration.border
        .lines
          .line.top
          .line.bottom
        
  .page-footer
    .texts
      h1.title The Era
        .bold Of DApps
      p.text Nodio works with open-source decentralized blockchain-based applications developed on its native Xana platform, which can be written in any programming language.

    include ../../navigation/next.pug