#product-router.product.page(data-title="Product: Better Than A Router")

  .page-header
    .number 01
    
  .page-content
    .illustrations
      .illustrations-container
        .illustration.device
        .illustration.border

  .page-footer
    .texts
      h1.title Better Than A
        .bold Router
      p.text While Nodio delivers Internet to your devices on the highest speed, it also protects them. All your connections run through Nodio, even those that go through public WIFI spots.

    include ../../navigation/next.pug