#product-tech.product.page(data-title="Product: World-Changing Technologies")
  
  .page-header
    .number 05

  .page-content
    .illustrations
      .illustration.device
      .illustration.border
    .right-side
      h1.title
        .bold World-
          br
          | Changing
        | Technologies
      .texts
        p.text Nodio was designed using the most advanced existing technologies.  Top blockchains, TOR, P2P and mesh networking protect your data and keep all your connections private. The source code of our solution is open so that you could see the safety with your own eyes.
        .links
          a.link(href="/downloads/Nodio_whitepaper.pdf" download="Nodio_whitepaper.pdf")
            svg.download
              use(xlink:href="#download")
            | Whitepaper
          .delimiter
          a.link.modal-link(href="#modal-specs") Tech Specs

  .page-footer
    include ../../navigation/next.pug
