#product.product.page(data-title="Product: Meet your digital guardian")

  .page-content
    .illustrations
      h1.title Meet your digital 
        .bold guardian
          .dot
      .illustration.image-1#hoverable
      .illustration.hover-1.next-link-additional
      .illustration.image-2
      .illustration.image-3
    .texts
      p.subtitle Nodio is a unique device
        br
        | with a mission to keep you, your data and your possessions safe.
   
      p.text It is a secured, blockchain-based router that works with the applications developed on Xana platform. 
        br
        | The main advantage of Nodio is in the decentralized structure, which protects its users from online threats.
        
  include ../../navigation/next.pug